<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books List</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Books List</h1>
    <form action="/books/search" method="GET">
        <input type="text" name="query" placeholder="Search by title or author" value="<%= searchQuery %>">
        <button type="submit">Search</button>
    </form>
    <ul>
        <% books.forEach(book=> { %>
            <li>
                <strong>
                    <%= book.title %>
                </strong> by <%= book.author %>
                    <form action="/books/<%= book.id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit">Delete</button>
                    </form>
                    <a href="/books/<%= book.id %>/edit">Edit</a>
            </li>
            <% }) %>
    </ul>
    <a href="/books/new">Add a New Book</a>
    <script src="js/app.js"></script>
</body>

</html>